body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1a1a;
}

header {
    background: #333;
    color: antiquewhite;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 1rem;
}

nav ul {
    display: flex;
    gap: 3rem;
    margin-top: 60px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.welcome {
    background-image: url(./images/main.png);
    background-size:cover;
    background-color: #333;
    height: 90vh;
    width: 100%;
    padding: 0;
    border: 0;
}

.logo {
    border: 2px white solid;
    padding: 10px;
    margin-top: 40px;
    color: white;
    align-items: center;
}

.logo a:hover {
    color:#9d9896;
}

.top-mid-links:hover {
    text-decoration: underline;
}

nav div a {
    font-weight: 200;
}

.book-now-box {
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-top: -8px;
}

.book-now-link {
    color: rgb(43, 5, 5);
    background-color: aliceblue;
    padding: 10px;
}

.book-now-link:hover {
    text-decoration: underline;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

.second-book-now-box {
    text-align: center;
    margin-top: 10PX;
}

.second-book-now-link {
    background-color: aliceblue;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(43, 5, 5);
}

.second-book-now-link:hover {
    text-decoration: underline;
    font-weight: 500;
}

.welcome-text {
    margin-top: 15%;
}

.home-section1 {
    text-align: center;
    padding: 4rem 11rem 6rem 11rem;
    color:aliceblue;
    background-color: #1b1a1a;
    font-size: 16px;
    font-weight: 200;
}

h2 {
    font-size: 2.5rem;
    color: aliceblue;
}

#home-section2 {
    background-image: url(./images/Hersheys.jpg);
    background-size: cover;
    padding: 5rem 2rem;
    margin: 0;
    text-align: center;
}

#home-section2 h2 {
    margin-bottom: 40px;
}

.section2-items {  
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: aliceblue;
    text-align: left;
    gap: 5px
}

.section2-items img {
    width: 50%;
    padding: 20px;
    text-align: left;
}

.section2-items h3, p {
    margin-top: 0;
    padding-left: 25px;
    padding-right: 35px;
}

.section2-items h3 {
    font-weight: 400;
    font-size: 2rem;
}

#footer-section {
    background-color: #141313;
    padding: 20px 0;
    color: aliceblue;
    text-align: left;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

#offer-section {
    background-color: black;
    color: aliceblue;
    padding: 5rem 2rem;
    margin: 0;
    text-align: left;
}

#offer-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.offer-section-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.offer-section-items {
    background-color: rgb(32, 30, 30);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}

.offer-section-items h3 {
    font-weight: 400;
    font-size: 2rem;
}

#offer-section img {
    width: 100%;
    margin-bottom: 1rem;
}

.footer-links, .footer-address {
    flex: 1;
    margin: 10px;
}

.footer-address p {
    margin: 0;
    line-height: 1.5;
}

.footer-links {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.footer-links a {
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 1em;
    color: aliceblue;
}

#book-now-page {
    margin: 0;
    border: 0;
    display: flex;
    flex-wrap: wrap;
}

#book-now-page h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 70px;
}

.book-now-container {
    background-color: white;
    width: 80%;
    height: 50vh;
    border: 2px grey solid;
}